<h1>This is our landing page</h1>
<button id="scrape">Scrape</button>
<div>
 <h1>{{test}}</h1>

  
    {{!-- {{#each articles}}

    <div>This is the title : {{ title }}</div>
    <div>This is the link : {{ link }}</div>

    {{/each}} --}}

</div>
